<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="favoritePokemons.length === 0" class="empty-state">
    <ion-icon name="star-outline"></ion-icon>
    <p>Você ainda não marcou nenhum Pokémon como favorito.</p>
  </div>

  <ion-grid fixed *ngIf="favoritePokemons.length > 0">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let pokemon of favoritePokemons">
        <ion-card [routerLink]="['/details', pokemon.id]" button>
          <ion-img [src]="pokemon.sprites.other['official-artwork'].front_default" class="pokemon-image"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-text-capitalize ion-text-center">
              {{ pokemon.name }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>